<!-- About Section -->
<div id="about" class="topDiv">
  <div class="container">

    <div class="row">
      <h3>Welcome!</h3>
      <p>Welcome to the Newman Makerspace website! A makerspace is a space designed to facilitate—-through technological tools and team-based collaboration--
        the development, design, and construction of hands-on projects and prototypes.
      </p>
      <p>Ms. Jenna deBoisblanc has brought the space online. She currently runs the Makerspace and teaches courses at the intersection of art, engineering, computer Science,
        and design thinking. Please don't hesitate to reach out with any questions or feedback!
      </p>
      <hr>
    </div>
    <div class="row">
      <div>
        <img class="img-responsive padImg" src="/img/about/makerspace.jpg" />
      </div>
      <hr>
    </div>
    <div class="row">
      <h3>Current Uses</h3>
      <p>The Makerspace is currently used to teach Upper School electives (arts, computer science, or engineering).</p>
      <p>The Makerspace is open to middle schoolers during Maker Club and after school for FIRST LEGO Robotics or Makers After School.</p>
      <h3>Tools</h3>
      <ul>
        <li><a href="http://www.shopbottools.com/mProducts/shopbot_buddy.htm">ShopBot CNC router</a></li>
        <li><a href="https://fslaser.com/Product/Pro4836">Full Spectrum Pro Series 90W laser cutter</a></li>
        <li><a href="https://markforged.com/">Markforged Fiberglass 3D Printer</a></li>
        <li>2, <a href="https://www.lulzbot.com/store/printers/lulzbot-taz-6">Lulzbot FDM 3D Printers</a></li>
        <li>Crafting supplies</li>
        <li>Hand and power tools</li>
        <li>Soldering stations</li>
        <li>Arduinos and electronic components</li>
      </ul>
    </div>
  </div>
</div>
